@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
 margin: 0 ;
 padding: 0; 
 box-sizing: border-box;
 font-family:"Nunito",sans-serif;
}
.remove{
    display: none !important;
}


.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 20px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding:10px;
    height: 90vh;
    flex:1;
}
.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    text-align: center;
}
.inciar-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    min-height: 50vh;
    background-color: #E9F3FF;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    border: none;
    box-shadow:0px 0px 0.4rem .07rem gray;
}
.inciar-pesquisa p{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6rem;
}
header img{
    width: 100px;
}
.inciar-pesquisa button{
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    background-color:#056AD9 ;
    color: white;
    border-radius: 16px;
    box-shadow: none;
    transition: 300ms;
    cursor: pointer;
}
.inciar-pesquisa form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inciar-pesquisa form input,select {
 padding: 10px;
 border-radius: 20px;
 border:0.1em solid gray;
 outline:none;
}
.inciar-pesquisa form input:hover{
    outline:0.1rem solid #056AD9;
}
.inciar-pesquisa form select:hover{
    outline:0.1rem solid #056AD9;
}
.inciar-pesquisa button:hover{
    box-shadow: 1px 1px .3rem .1rem #777777;
    background-color: #0453a8;
}
footer{
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.etapa-3-perguntas{
 display: flex;
 flex-direction: column;
 gap: 20px;
 width: 90vw;
}
.etapa-3-perguntas button{
    background-color: #7fbdff;
}
.etapa-3-perguntas button:hover{
    background-color: #0b54a3;
}
.etapa-3-perguntas button:{
    background-color: #7fbdff;
}
.selected{
    box-shadow: 1px 1px .3rem .1rem #777777 !important;
    background-color: #0453a8;
    outline: 3px soid gray !important;
    background-color: #0453a8 !important;
}
.btn-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}