@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
 margin: 0 ;
 padding: 0; 
 box-sizing: border-box;
 font-family:"Nunito",sans-serif;
}


.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 20px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding:10px;
    height: 90vh;
    flex:1;
}
.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    text-align: center;
}
.inciar-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    min-height: 50vh;
    background-color: #E9F3FF;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
header img{
    width: 100px;
}
.inciar-pesquisa button{
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    background-color:#056AD9 ;
    color: white;
    border-radius: 16px;
}
footer{
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
}